.header{
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 10px;
    }
    * {
        box-sizing: border-box;
        }
        .column {
        float: left;
        width: 33.33%;
        padding: 5px;
        }
        .row::after {
        content:"";
        clear: both;
        display: table;
        }
        .header2{
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
        }
    * {
    box-sizing: border-box;
    }
    .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    }
    .row::after {
    content:"";
    clear: both;
    display: table;
    }
    .footer{
        padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 10px;
    
    }